<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Application 1</title>
    <link rel="icon" sizes="16x16" th:href="@{/media/images/logoBookStylo.png}" type="image/png">
    <link rel="stylesheet" th:href="@{/style/css/bootstrap.css}">
</head>
<body class="text-center">
    <main>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="seConnecter.html">Se connecter</a>
                <a class="navbar-brand" href="#">Se déconnecter</a>
                <a class="navbar-brand" href="#">Ma page custom</a>
            </div>
        </nav>
        <p class="mt-5 mb-3 text-muted">© 2021-2022</p>
    </main>
</body>
</html>